.menu {
  padding: 0ch;
  border: transparent;
}

.setting{
  background-color: white;
}

.setting-card{
  margin-bottom: 3%;
  padding: 0%;
}

.card-header{
  font-weight: bold;
}

.row {
  margin-top: 5px !important;
}

.device-row {
  margin: 10px;
}

.title-s{
  font-weight: bold;
}

.btn-sm {
  background-color: gray !important;
  border: none;
}

.save-button {
  background-color: #0081C9 !important;
  border: none !important;
  border-radius: 3px !important;
  margin-top: 20px;
}

.form-switch .form-check-input {
  width: 2.2em;
  height: 1.3em;
}